{
    "concurrent": false,
    "linters": {
        "*.css": "stylelint --fix",
        "*.scss": "stylelint --syntax=scss --fix",
        "*.{js,jsx}": "eslint --fix",
        "*.{js,jsx,scss}": "prettier --write"
    }
}
