{
    "tabWidth": 4,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "quoteProps": "consistent",
    "trailingComma": "all",
    "overrides": [
        {
            "files": "*.scss",
            "options": {
                "singleQuote": false
            }
        }
    ]
}
