$breakpoint-mobile: 420px;

$breakpoint-tablet-small: 640px;
$breakpoint-tablet-large: 768px;

$breakpoint-desktop-small: 960px;
$breakpoint-desktop: 1280px;
$breakpoint-desktop-large: 1440px;

$typography-breakpoint: $breakpoint-tablet-small;
$typography-breakpoint-large: $breakpoint-desktop-small;
