$body-color: #000000;
$body-color--lighter: #111111;

$background-color: #ffffff;
$background-color--lighter: #eeeeee;

$border-color: #e5e5e5;

$box-shadow: 0 0.4rem 0.8rem rgba($body-color, 0.5);
$box-shadow--lighter: 0 0.2rem 0.4rem rgba($body-color, 0.25);
